.pi_popup_wrap {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -998;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.pi_popup_popup_open .pi_popup_wrap {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 998;
}
.pi_popup_wrap p {
  margin-top: 0;
}
.pi_popup_wrap * {
  box-sizing: border-box;
}
.pi_popup_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity 200ms, transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: opacity 200ms, transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 200ms, transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  font-family: 'Lato', sans-serif;
}
.pi_popup_popup_open .pi_popup_popup {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}
.pi_popup_template_preview .pi_popup_popup {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.pi_popup_modal {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 15px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 15px 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
/*
Popup 1
==========================================
*/
.pi_popup_popup1 {
  background-color: transparent;
  width: 590px;
}
.pi_popup_popup_open .pi_popup_popup1 {
  -webkit-transform: translate(-50%, -50.1%);
  -ms-transform: translate(-50%, -50.1%);
  -o-transform: translate(-50%, -50.1%);
  transform: translate(-50%, -50.1%);
}
.pi_popup_popup1 .pi_popup_header {
  background: #3023ae;
  background: -moz-linear-gradient(-45deg, #3023ae 0%, #7db9e8 100%, #c96dd8 100%);
  background: -webkit-linear-gradient(-45deg, #3023ae 0%, #7db9e8 100%, #c96dd8 100%);
  background: linear-gradient(135deg, #3023ae 0%, #7db9e8 100%, #c96dd8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColorstr='#c96dd8', GradientType=1);
  padding: 30px 40px;
  color: #fff;
}
.pi_popup_popup1 .pi_popup_header .pi_popup_title {
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 900;
  color: inherit;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pi_popup_popup1 .pi_popup_header .pi_popup_subtitle {
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pi_popup_popup1 .pi_popup_image {
  display: none;
}
.pi_popup_popup1 .pi_popup_body {
  background-color: #F5F5F5;
  padding: 40px 50px 50px;
  color: #747474;
  text-align: center;
  font-size: 18px;
}
.pi_popup_popup1 .pi_popup_body .pi_popup_item {
  color: #007AFF;
  font-weight: 900;
  font-size: 21px;
  margin-bottom: 30px;
}
.pi_popup_popup1 .pi_popup_body i {
  font-size: 22px;
  margin-right: 10px;
}
/*
Popup 2
==========================================
*/
.pi_popup_popup2 {
  background-color: transparent;
  width: 530px;
}
.pi_popup_popup_open .pi_popup_popup2 {
  -webkit-transform: translate(-50%, -51.5%);
  -ms-transform: translate(-50%, -51.5%);
  -o-transform: translate(-50%, -51.5%);
  transform: translate(-50%, -51.5%);
}
.pi_popup_popup2 .pi_popup_modal {
  overflow: visible;
}
.pi_popup_popup2 .pi_popup_body {
  background: #fbda61;
  background: -moz-linear-gradient(top, #fbda61 0%, #f76b1c 100%);
  background: -webkit-linear-gradient(top, #fbda61 0%, #f76b1c 100%);
  background: linear-gradient(to bottom, #fbda61 0%, #f76b1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbda61', endColorstr='#f76b1c', GradientType=0);
  padding: 50px 50px 40px 50px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  position: relative;
  border-radius: 5px;
}
.pi_popup_popup2 .pi_popup_body .pi_popup_title {
  font-weight: 900;
  font-size: 47px;
  margin-bottom: 20px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: inherit;
}
.pi_popup_popup2 .pi_popup_body .pi_popup_title i {
  font-size: inherit;
  margin-right: 10px;
}
.pi_popup_popup2 .pi_popup_body p {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pi_popup_popup2 .pi_popup_body .pi_popup_form {
  position: absolute;
  bottom: -10%;
  left: 50%;
  left: 15%;
  width: 70%;
}
/*
Popup 3
==========================================
*/
.pi_popup_popup3 {
  background-color: transparent;
  width: 620px;
}
.pi_popup_popup3 .pi_popup_modal {
  background-color: #fff;
  position: relative;
}
.pi_popup_popup3 .pi_popup_image {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  overflow: hidden;
}
.pi_popup_popup3 .pi_popup_image img {
  width: auto;
  height: 100%;
  max-height: 100%;
  margin: 0;
  border: 0;
  vertical-align: middle;
}
.pi_popup_popup3 .pi_popup_body {
  display: inline-block;
  width: 60%;
  margin-left: 40%;
  vertical-align: top;
  text-align: right;
  padding: 50px 50px 50px 30px;
  color: #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pi_popup_popup3 .pi_popup_body .pi_popup_title {
  font-size: 44px;
  font-weight: 900;
  margin-top: 0;
  color: #007AFF;
  margin-bottom: 20px;
}
.pi_popup_popup3 .pi_popup_body .pi_popup_content {
  margin-bottom: 40px;
}
.pi_popup_popup3 .pi_popup_body .pi_popup_form {
  width: 100%;
}
/*
Popup 4
==========================================
*/
.pi_popup_popup4 {
  background-color: transparent;
  width: 590px;
}
.pi_popup_popup4 .pi_popup_modal {
  overflow: visible;
}
.pi_popup_popup4 .pi_popup_header {
  background: #3023ae;
  background: -moz-linear-gradient(left, #3023ae 0%, #53a0fe 50%, #50eda1 100%);
  background: -webkit-linear-gradient(left, #3023ae 0%, #53a0fe 50%, #50eda1 100%);
  background: linear-gradient(to right, #3023ae 0%, #53a0fe 50%, #50eda1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColorstr='#50eda1', GradientType=1);
  border-radius: 5px 5px 0 0;
  padding: 40px;
  color: #fff;
  text-align: center;
}
.pi_popup_popup4 .pi_popup_header .pi_popup_title {
  margin-top: 0;
  font-size: 38px;
  margin-bottom: 0;
  font-weight: 900;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: inherit;
}
.pi_popup_popup4 .pi_popup_header .pi_popup_subtitle {
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pi_popup_popup4 .pi_popup_body {
  background-color: #F5F5F5;
  padding: 50px 60px 50px;
  color: #747474;
  text-align: left;
  font-size: 17.9px;
  position: relative;
  color: #007AFF;
  border-radius: 0 0 5px 5px;
}
.pi_popup_popup4 .pi_popup_body ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}
.pi_popup_popup4 .pi_popup_body ul li {
  padding-left: 25px;
  margin-bottom: 11px;
  position: relative;
}
.pi_popup_popup4 .pi_popup_body ul li::before {
  font-family: 'pi-popup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e901";
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  text-indent: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.pi_popup_popup4 .pi_popup_body .pi_popup_form {
  position: absolute;
  bottom: -10%;
  left: 50%;
  left: 19%;
  width: 60%;
}
/*
Subscribe Form
==========================================
*/
.pi_popup_form {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.pi_popup_form .pi_popup_subscribe_input {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 3px 15px rgba(0, 0, 0, 0.13);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 3px 15px rgba(0, 0, 0, 0.13);
  height: 43px;
  border: none;
  border-radius: 25px;
  padding: 0 130px 0 25px;
  font-size: 15px;
  width: 100%;
  font-family: inherit;
  color: #616161;
}
.pi_popup_form .pi_popup_subscribe_input:focus {
  outline: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 15px rgba(0, 0, 0, 0.2);
}
.pi_popup_form_success .pi_popup_form .pi_popup_subscribe_input {
  border: 2px solid #60A510;
}
.pi_popup_form_error .pi_popup_form .pi_popup_subscribe_input {
  border: 2px solid #FF3737;
}
.pi_popup_form .pi_popup_subscribe_btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  color: #007AFF;
  font-family: inherit;
  display: block;
  cursor: pointer;
  padding: 12px 42px 12px 0;
  height: 43px;
  overflow: hidden;
}
.pi_popup_form .pi_popup_subscribe_btn:hover {
  color: #006ee6;
}
.pi_popup_form .pi_popup_subscribe_btn:focus {
  outline: none;
}
.pi_popup_form_success .pi_popup_form .pi_popup_subscribe_btn {
  color: #60A510;
}
.pi_popup_form_error .pi_popup_form .pi_popup_subscribe_btn {
  color: #FF3737;
}
.pi_popup_form .pi_popup_subscribe_btn::before {
  font-family: 'pi-popup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e903";
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-indent: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.pi_popup_form_loading .pi_popup_form .pi_popup_subscribe_btn::before {
  opacity: 0;
}
.pi_popup_form_success .pi_popup_form .pi_popup_subscribe_btn::before {
  opacity: 1;
  content: "\e900";
  color: #60A510;
}
.pi_popup_form_error .pi_popup_form .pi_popup_subscribe_btn::before {
  opacity: 1;
  content: "\e905";
  color: #FF3737;
}
/*
Magic Pi Footer
==========================================
*/
p.pi_popup_footer {
  color: #C1C1C1;
  font-size: 12px;
  text-align: right;
  margin-top: 8px;
  margin-bottom: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
p.pi_popup_footer a {
  color: inherit;
  text-decoration: none;
}
p.pi_popup_footer a:hover {
  text-decoration: underline;
  color: #fff;
}
/*
Placeholder
==========================================
*/
.pi_popup_popup::-moz-placeholder {
  color: #9C9C9C;
  opacity: 1;
}
.pi_popup_popup:-ms-input-placeholder {
  color: #9C9C9C;
}
.pi_popup_popup::-webkit-input-placeholder {
  color: #9C9C9C;
}
/*
Prefixes
==========================================
*/
/*
Font Icon
==========================================
*/
@font-face {
  font-family: 'pi-popup';
  src: url('fonts/pi-popup.ttf?f2v3f9') format('truetype'), url('fonts/pi-popup.woff?f2v3f9') format('woff'), url('fonts/pi-popup.svg?f2v3f9#pi-popup') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="pi-popup-"],
[class*=" pi-popup-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pi-popup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pi-popup-quema-labs:before {
  content: "\e906";
}
.pi-popup-logo:before {
  content: "\e907";
}
.pi-popup-cross2:before {
  content: "\e905";
}
.pi-popup-check:before {
  content: "\e900";
}
.pi-popup-checkmark-circle:before {
  content: "\e901";
}
.pi-popup-tags:before {
  content: "\e902";
}
.pi-popup-arrow-right:before {
  content: "\e903";
}
.pi-popup-file-check:before {
  content: "\e904";
}
/*
Loading circle
==========================================
*/
.pi_popup_loading {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0;
  z-index: -1;
}
.pi_popup_form_loading .pi_popup_loading {
  opacity: 1;
  z-index: 1;
}
.pi_popup_form_success .pi_popup_loading,
.pi_popup_form_error .pi_popup_loading {
  opacity: 0;
}
.pi_popup_circle {
  width: 25px;
  height: 25px;
  position: relative;
}
.pi_popup_circle .pi_popup_child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.pi_popup_circle .pi_popup_child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #007AFF;
  border-radius: 100%;
  -webkit-animation: pi_popup_circleBounceDelay 1.2s infinite ease-in-out both;
  animation: pi_popup_circleBounceDelay 1.2s infinite ease-in-out both;
}
.pi_popup_circle .pi_popup_circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.pi_popup_circle .pi_popup_circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.pi_popup_circle .pi_popup_circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pi_popup_circle .pi_popup_circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.pi_popup_circle .pi_popup_circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.pi_popup_circle .pi_popup_circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pi_popup_circle .pi_popup_circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.pi_popup_circle .pi_popup_circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.pi_popup_circle .pi_popup_circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pi_popup_circle .pi_popup_circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.pi_popup_circle .pi_popup_circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.pi_popup_circle .pi_popup_circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.pi_popup_circle .pi_popup_circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.pi_popup_circle .pi_popup_circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.pi_popup_circle .pi_popup_circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.pi_popup_circle .pi_popup_circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.pi_popup_circle .pi_popup_circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.pi_popup_circle .pi_popup_circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.pi_popup_circle .pi_popup_circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.pi_popup_circle .pi_popup_circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.pi_popup_circle .pi_popup_circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.pi_popup_circle .pi_popup_circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes pi_popup_circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pi_popup_circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*
Font Icon
==========================================
*/
@media (max-width: 767px) {
  .pi_popup_popup {
    width: 90%;
  }
  /*
	Popup 1
	==========================================
	*/
  .pi_popup_popup1 .pi_popup_header {
    padding: 30px;
  }
  .pi_popup_popup1 .pi_popup_body {
    padding: 30px;
    font-size: 16px;
  }
  .pi_popup_popup1 .pi_popup_form {
    width: 100%;
  }
  /*
	Popup 2
	==========================================
	*/
  .pi_popup_popup2 .pi_popup_body {
    padding: 30px 30px 20px 30px;
  }
  .pi_popup_popup2 .pi_popup_body .pi_popup_title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .pi_popup_popup2 .pi_popup_body .pi_popup_form {
    width: 80%;
    left: 11%;
    bottom: -12%;
  }
  .pi_popup_popup2 p.pi_popup_footer {
    margin-top: 30px;
  }
  /*
	Popup 3
	==========================================
	*/
  .pi_popup_popup3 .pi_popup_modal {
    overflow: visible;
  }
  .pi_popup_popup3 .pi_popup_body {
    padding: 30px 30px 30px 10px;
  }
  .pi_popup_popup3 .pi_popup_body .pi_popup_content {
    margin-bottom: 20px;
  }
  .pi_popup_popup3 .pi_popup_body .pi_popup_content .pi_popup_title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .pi_popup_popup3 .pi_popup_body .pi_popup_form {
    width: 80%;
    left: 11%;
    bottom: -12%;
    position: absolute;
  }
  .pi_popup_popup3 .pi_popup_body .pi_popup_form input.pi_popup_subscribe_input {
    border: 2px solid #F5F5F5;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .pi_popup_popup3 p.pi_popup_footer {
    margin-top: 30px;
  }
  /*
	Popup 4
	==========================================
	*/
  .pi_popup_popup4 .pi_popup_header {
    padding: 30px;
  }
  .pi_popup_popup4 .pi_popup_header .pi_popup_title {
    font-size: 28px;
  }
  .pi_popup_popup4 .pi_popup_body {
    padding: 30px;
    font-size: 15px;
  }
  .pi_popup_popup4 .pi_popup_body .pi_popup_form {
    width: 80%;
    left: 11%;
    bottom: -12%;
    position: absolute;
  }
  .pi_popup_popup4 .pi_popup_body .pi_popup_form input.pi_popup_subscribe_input {
    border: 4px solid #F5F5F5;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .pi_popup_popup4 p.pi_popup_footer {
    margin-top: 30px;
  }
  .pi_popup_form .pi_popup_subscribe_input {
    padding-right: 53px;
  }
  .pi_popup_form .pi_popup_subscribe_btn {
    width: 43px;
    text-indent: -999px;
  }
}
